*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
html{
    scroll-behavior: smooth;
}
body{
    font-family: sans-serif;
}
.grid{
    max-width: 1200px;
    padding: 15px;
    margin:  0 auto;
    padding-top: 73px;
}
.grid::after{
    content:'';
    display:block; /* a própria grid "limpa" as laterais*/
    clear: both;
}

.grid .col{
    width: 33.33%;
    height: 300px;
    float: left;
    padding: 20px;
}
.grid .col-content{
    width: 100%;
    height: 100%;
    background: red;
    box-shadow: inset 5px 5px 0 blue, 5px 5px 5px rgb(0,0,0,0.5);
}
.menu{
    width: 100%;
    position: fixed;
    background: rgba(0, 0, 0, 0.89);
}

.menu ul{
    display: block;
    list-style: none;
    max-width: 1200px;
    padding:  0 30px;
    margin:  0 auto;

}
.menu ul li {
    float: left;
}

.menu ul li a{
    display: block;
    color: #fff;
    padding: 20px;
    text-decoration: none;
    transition:  all 300ms ease-in;
}
.menu ul li a:hover {
    background: seagreen;
    
}
.full-page{
    max-width: 100%;
    padding: 0 30px;
    padding-top: 73px;
    height: 100vh;
    background: turquoise;
}
.full-page-content{
    max-width: 1200px;
    padding: 0 30px;
    margin:  0 auto;

}

 @media all and (max-width:568px){
    .grid .col{
     width: 100%;   
    }
 }
 @media all and (min-width:568px) and (max-width:768px){
    .grid .col{
        width:50%;
    }
 }
 @media all and (min-width:769px) and (max-width: 1200px ){
    .grid .col{
        width: 33.33%;
    }
 }
 @media all and (min-width: 1200px){
    .grid .col{
        width: 25%;
    }
 }