:root{ /* DECLARAÇÃO DA VARIAVEL*/
    --primary-color: #0A1128;
    --white-color:rgb(255, 255, 255);
    --light-gray-color: #eeeeee;
    --secondary-color:crimson;
    --gap: 3rem;
}
*{
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
/*Alterações Body e MENU -------------- */
body{
    font-size: 2rem;
    font-family:'Open Sans', sans-serif;
    color: var(--primary-color); /* A USAR A VARIAVEL CRIADA EM CIMA*/
    background: var(--white-color);
    line-height: 1.5; /*Acrescenta espaço nas linhas*/
}
/*
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
*/

h1,h2,h3,h4,h5,h6{
    font-family: 'Montserrat', sans-serif;
}

h1{
    font-size: 6rem;
    text-transform: uppercase;
}

h2{
    font-size: 6rem;
    margin-bottom: 5rem; /*acrscent amargin em baixo para criar espaço entre o titulo e o texto*/
    text-transform: uppercase; /*Coloca o texto tudo em maiusculas*/
    line-height: 1.2; /*Coloca o espaçamento de 1.2 nas linhas do titulo*/
}

h3{
    font-size: 5rem;
}

h4{
    font-size: 4.5rem;
}

h5{
    font-size: 4rem;
}

h6{
    font-size: 3.5rem;
}
a{
    text-decoration: none;
}
p{
    margin-bottom: 3rem;
}

.white-bg{
    background: var(--white-color);
    color: var(--primary-color);
}

.main-bg{
    background-image: url('../img/main_bg.svg');
    background-size: cover; /* COLOCA A IMAGEM A COBRIR A PAGINA*/
    background-position: center center; /* COLOCA SEMPRE A IMAGEM NO CENTRO DE ALTURA COMO DE LARGURA*/
    color: var(--white-color);
}

.main-content{ /*ESTRUTA O CONTEUDO, ESPALAMENTOS ETC*/
    max-width: 120rem;
    margin: 0 auto;
    padding: var(--gap);
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
}

.section {
    min-height: 100vh;
}

.menu{
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    border-bottom: 0.1rem solid var(--light-gray-color);
    
}
.menu-spacing{
    height: 6.5rem; /* 64px altura do menu mais 1px da borda*/
}

.menu-content{ /*spera o logo dos menus*/
    display: flex;
    justify-content: space-between;
}
.menu h1 { /**tamanho do titulo + cor */
    font-size: 2.3rem;
    color: var(--primary-color);
}
.menu h1 a { /*Link erda o branco do pai*/
    color: inherit;
}
.menu ul{ /*tira as bolas e define como display flex*/
    list-style: none;
    display: flex;
}
.menu ul li a {
    display: block;
    padding: 2rem;
    font-size: 1.8rem;
    position: relative;

}
.menu ul li a::after{ /* Animação da linha quando o cursor esta por cima*/
    content: '';
    position: absolute;
    bottom: 1rem;
    left:50%;
    width: 0;
    height: 0.2rem;
    background: var(--secondary-color);
    transition: all 300ms ease-in-out;

}
.menu ul li a:hover::after{
    left: 25%;
    width: 50%;
    
}
/*-----------------------------------------*/

/* --------SESSAO 1 INTRO-----------------*/
.intro-content{ /*Cria uma grid para colocar o texto e a imagem*/
    position: relative;
    top: -8rem; /*puxa o conteudo ligeiramente oara cima*/
    display: grid; /*Cria a GRID*/
    grid-template-columns: 1fr 1.5fr; /*Cria as colunas da GRID*/
    gap: var(--gap); /*Dá um espalamento entre colunas*/
    height: 100vh; /*A GRID FICA COM O TAMANHO DA SECTION*/
}
.intro-text-content, .intro-img{ /*Cria flexbox dentro da coluna da GRID para poder alinhar ao centro*/
                    /*.intro-img tambem precisa de ser uma flebox dentro da coluna para ficar alinhada*/
    display: flex; /*cria flexbox dentro da coluna da GRID*/
    flex-flow: column wrap; /* une colunas e define o sentido da flexbox como coluna como eixo principal*/
    justify-content: center; /* alinha ao centro*/
}
.intro-img img{  /* Renderiza a imgem para ficar com o tamanho certo*/
    max-width: 100%;
    height: auto;
}
/*-------------------------------------*/
/*----------"TOP 3(about opera)"-------*/
.top3-content{ /**/
    max-width: 64rem;
    display: flex; /*Define como display flex para poder alinhar ao centro*/
    flex-flow: column wrap; /*Muda a direção do eixo principal*/
    justify-content: center; /* alinha ao centro em aultura*/
    height: 100vh; /*DIV com o tamnho da janela*/
    text-align: center;
}
/*-------------------------------------*/