*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.flex-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: yellow;
    height: 500px;
    /*gap: 30px;*/
}
.flex-item{
    color: white;
    background: red;
    margin: 10px;
}

.flex-item:nth-child(3){
    font-size: 40px;
}